# Give the logged-in user access to the llano V12 Ultra pad's hidraw node.
KERNEL=="hidraw*", ATTRS{idVendor}=="374a", ATTRS{idProduct}=="b101", TAG+="uaccess"
